# Analysis of Experiments

## Read data

Look for data in each subdirectory of `OUTPUD_DIR`

In [1]:
from pathlib import Path

import pandas as pd

In [2]:
OUTPUT_DIR = Path('output')


DATA_DIRS: list[Path] = [p for p in OUTPUT_DIR.iterdir() if p.is_dir()]

In [3]:
import json


RAW_DATA: list[dict] = []

for data_dir in DATA_DIRS:
    data = []
    for rfile in data_dir.glob('*_results.json'):
        with rfile.open() as fp:
            result = json.load(fp)
            result['src'] = data_dir.name
            data.append(result)
    if len(data) < 1 and data_dir.joinpath('results.json').exists():
        with data_dir.joinpath('results.json').open() as fp:
            results = json.load(fp)
            for result in results:
                result['src'] = data_dir.name
                data.append(result)

    RAW_DATA.extend(data)

RAW_DATA_df = pd.json_normalize(RAW_DATA)

RAW_DATA_df.sample(5)

,id,generator,cases,src,control_flow.levenshtein,control_flow.hamming,params.model,params.traces,params.events,params.noise,...,stats.times.total,stats.times.cpu,stats.times.solve,stats.times.unsat,stats.times.sat,stats.timeout,stats.timedout,stats.models,data_flow.levenshtein,data_flow.hamming
267,levenshtein_caise2025_experimental_model_0100_...,PBLogGeneratorLevenshtein,1,caise2025_tabu_2024-12-06T08:21+00:00,NaN,NaN,caise2025_experimental_model,100,70,0,...,160.192808,160.227960,120.041057,0.0,0.000000,120,True,2,NaN,NaN
125,levenshtein_caise2025_experimental_model_0100_...,PBLogGeneratorLevenshtein,7,caise2025_tabu_2024-12-06T08:21+00:00,0.316667,0.373810,caise2025_experimental_model,100,40,0,...,232.179382,231.079103,192.396823,0.0,71.579907,120,True,8,0.373810,0.373810
628,hamming_caise2025_experimental_model_4000_070_...,PBLogGeneratorHamming,3,caise2025_2024-12-05T12:36+00:00,0.300000,0.409524,caise2025_experimental_model,4000,70,0,...,286.933052,286.980601,282.819161,0.0,42.686224,120,True,5,0.747619,0.761905
444,hamming_caise2025_experimental_model_0500_020_...,PBLogGeneratorHamming,7,caise2025_2024-12-05T12:36+00:00,0.309524,0.323810,caise2025_experimental_model,500,20,0,...,479.864117,479.962252,478.946106,0.0,238.895688,120,True,9,0.671429,0.671429
735,baseline_caise2025_experimental_model_0100_020_00,PBLogGeneratorBaseline,100,caise2025_base_2024-12-06T08:20+00:00,0.000000,0.000000,caise2025_experimental_model,100,20,0,...,0.000000,0.000000,0.000000,0.0,0.000000,120,False,100,0.053364,0.053364

In [4]:
RAW_DATA_df.columns

Index(['id', 'generator', 'cases', 'src', 'control_flow.levenshtein',
       'control_flow.hamming', 'params.model', 'params.traces',
       'params.events', 'params.noise', 'params.threshold', 'params.randomise',
       'stats.times.total', 'stats.times.cpu', 'stats.times.solve',
       'stats.times.unsat', 'stats.times.sat', 'stats.timeout',
       'stats.timedout', 'stats.models', 'data_flow.levenshtein',
       'data_flow.hamming'],
      dtype='object')

### Summarise data

In [5]:
SUMMARY = RAW_DATA_df[['src', 'id', 'generator']].copy()

SUMMARY['threshold'] = RAW_DATA_df['params.threshold']
SUMMARY['randomised'] = ((RAW_DATA_df['generator'] == 'PBLogGeneratorRandom') | RAW_DATA_df['params.randomise'])
SUMMARY['model'] = RAW_DATA_df['params.model']
SUMMARY['case_size'] = RAW_DATA_df['params.events']
SUMMARY['log_size'] = RAW_DATA_df['params.traces']
SUMMARY['generated'] = RAW_DATA_df['cases']
SUMMARY['coverage'] = RAW_DATA_df['cases']/RAW_DATA_df['params.traces']
SUMMARY['time'] = RAW_DATA_df['stats.times.total']
SUMMARY['timeout'] = RAW_DATA_df['stats.timedout']
SUMMARY['hamming'] = RAW_DATA_df['control_flow.hamming']
SUMMARY['levenshtein'] = RAW_DATA_df['control_flow.levenshtein']

SUMMARY

,src,id,generator,threshold,randomised,model,case_size,log_size,generated,coverage,time,timeout,hamming,levenshtein
0,caise2025_tabu_2024-12-06T08:21+00:00,levenshtein_caise2025_experimental_model_4000_...,PBLogGeneratorLevenshtein,0.6,True,caise2025_experimental_model,70,4000,0,0.000000,0.000000,True,NaN,NaN
1,caise2025_tabu_2024-12-06T08:21+00:00,hamming_caise2025_experimental_model_2000_030_...,PBLogGeneratorHamming,0.6,False,caise2025_experimental_model,30,2000,1,0.000500,120.139404,True,NaN,NaN
2,caise2025_tabu_2024-12-06T08:21+00:00,levenshtein_caise2025_experimental_model_0500_...,PBLogGeneratorLevenshtein,0.6,True,caise2025_experimental_model,70,500,0,0.000000,0.000000,True,NaN,NaN
3,caise2025_tabu_2024-12-06T08:21+00:00,levenshtein_caise2025_experimental_model_1000_...,PBLogGeneratorLevenshtein,0.3,False,caise2025_experimental_model,50,1000,8,0.008000,480.369058,True,0.399286,0.324286
4,caise2025_tabu_2024-12-06T08:21+00:00,levenshtein_caise2025_experimental_model_8000_...,PBLogGeneratorLevenshtein,0.3,False,caise2025_experimental_model,40,8000,7,0.000875,227.800163,True,0.373810,0.316667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,caise2025_base_2024-12-06T08:20+00:00,old_caise2025_experimental_model_8000_050_00,PBLogGeneratorOrig,NaN,False,caise2025_experimental_model,50,8000,8000,1.000000,0.000000,False,0.203158,0.156808
788,caise2025_base_2024-12-06T08:20+00:00,random_caise2025_experimental_model_8000_050_00,PBLogGeneratorRandom,NaN,True,caise2025_experimental_model,50,8000,0,0.000000,0.000000,True,NaN,NaN
789,caise2025_base_2024-12-06T08:20+00:00,baseline_caise2025_experimental_model_4000_060_00,PBLogGeneratorBaseline,NaN,False,caise2025_experimental_model,60,4000,4000,1.000000,0.000000,False,0.000000,0.000000
790,caise2025_base_2024-12-06T08:20+00:00,random_caise2025_experimental_model_0100_060_00,PBLogGeneratorRandom,NaN,True,caise2025_experimental_model,60,100,0,0.000000,0.000000,True,NaN,NaN
791,caise2025_base_2024-12-06T08:20+00:00,old_caise2025_experimental_model_0100_060_00,PBLogGeneratorOrig,NaN,False,caise2025_experimental_model,60,100,100,1.000000,0.000000,False,0.131549,0.124498

### Write summary to file

In [6]:
from datetime import datetime


SUMMARY.to_csv(OUTPUT_DIR / f'summary_{datetime.now(tz=None).strftime('%Y-%m-%dT%H%M%S')}.csv')

## Data analysis

Show results for each generator class and configuration, tables are summarised by log and case sizes

In [7]:
from IPython.display import display

def show_table(key: str) -> None:
    for k, df in SUMMARY.sort_values(by=['generator', 'randomised', 'threshold', 'src']).groupby(by=['src', 'generator', 'randomised', 'threshold'], dropna=False):
        timeout_style = lambda _: df.pivot(index='log_size', columns='case_size', values='timeout').map(lambda x: 'background-color: pink' if x else '')
        pivot_df = df.pivot(index='log_size', columns='case_size', values=key)
        display(pivot_df.style
                .set_caption(f'{k[1]}(rnd={k[2]}, threshold={k[3]}) src: {k[0]}')
                .apply(timeout_style, axis=None))

### Coverage

In [8]:
show_table('coverage')

### Time

In [9]:
show_table('time')

### Levenshtein distance

In [10]:
show_table('levenshtein')

### Generated log size

In [11]:
show_table('generated')

### Timed out

In [12]:
show_table('timeout')